body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ccc;
    margin: 0;
}

.hero nav ul{
    text-align: right;
    margin: 25px 50px 0 0;
}

.hero nav li{
    list-style: none;
    display: inline-block;
    border: 1px solid white;
    margin-left: 5px;
}

.hero nav a{
    display: block;
    padding: 10px;
    background-color: rgba(0,0,0,0.3);
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    padding: 15px;
    letter-spacing: 1px;
}
.hero nav a:hover{
    background-color: rgba(0,0,0,0.4);
}

.hero{
    background-image: url(./imagens/bg-3.jpg);
    height: 500px;
    background-position: right center;
    background-size: cover;
    border-top: 1px solid transparent;
}

.hero_content{
    text-align: center;
    color: white;
    margin: 150px;
}

.hero_content h1{
    text-transform: uppercase;
    font-size: 46px;
    text-shadow: 3px 3px 5px #333;
}

.hero_content p{
    background-color: rgba(0,0,0,0.2);
    display: inline-block;
    padding: 10px;
    border-bottom: 2px solid #fff ;
}

main{
    width: 80%;
    margin: auto;
}

.content-section{
    background-color: white;
    padding: 15px;
    margin-top: 15px;
    overflow: auto;

}

.box{
    width: 32%;
    float: left;
    box-sizing: border-box;
    border: 2px solid blue;
}

.box img{
    width: 100%;
    display: block;
}
.box-1,.box-2{
    margin-right: 2%;
}

.box p{
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 15px;
    margin: 0;
}


footer{
    height: 80px;
    color: white;
    font-size: 14px;
    text-align: center;
    text-shadow: 2px 2px 2px black;
    background: #6b6c68;
    padding-top: 30px;
}
