body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ccc;
    margin: 0;
}

.hero{
    background-image: url(./imagens/bg-3.jpg);
    height: 500px;
    background-position: right center;
    background-size: cover;
}

.hero_content{
    text-align: center;
    color: white;
    margin: 150px;
}

.hero_content h1{
    text-transform: uppercase;
    font-size: 46px;
    text-shadow: 3px 3px 5px #333;
}

main{
    width: 80%;
    margin: auto;
}

.content-section{
    background-color: white;
    padding: 15px;
    margin-top: 15px;
    display: flex;
    justify-content: center  ;
}

.box-1{
    padding: 3px;
}
.box-2{
    padding: 3px;
}
.box-3{
    padding: 3px;
}


footer{
    height: 80px;
    color: white;
    font-size: 14px;
    text-align: center;
    text-shadow: 2px 2px 2px black;
    background: #6b6c68;
    padding-top: 30px;
}
