figure{
    width: 300px ;
    height: 250px ;
    border: 1px solid;
}
.header-direita{
    display:flex;
    float: right;
    margin-right: 7.5rem;
    margin-top: -3.0rem;
   
}

.header-direita li{
    padding: 10px 10px 10px 40px;
    list-style: none;
}
.header-direita a{
    text-decoration: none;
}

