body{
    font-family: 'Open Sans', sans-serif;
    color: #666;
    line-height: 1.6;
}
img{
    max-width:100%;
}
.img-left{
    float: left;
    border-radius: 45%;
    margin-right: 10px;
}
.img-right{
    float: right;
    border-radius: 45%;
}

a{
    transition: color .2s linear,border .2s;
    text-decoration: none;
    border-bottom: 1px dotted;
    color: #49bf9d;
}
a:hover{
    border-bottom-color:transparent;
}

p{
    margin: 0 0 2em;

}

h1,h2,h3,h4,h5,h6{
    color: #787878;
    font-weight: normal;
    margin: 1em 0;
}
h1{
    font-size: 36px;
}
h2{
    font-size: 30px;
}
h3{
    font-size: 26px;
}
h4{
    font-size: 22px;
}
h5{
    font-size: 18px;
}
h6{
    font-size: 15px;
}
sub,sup{
    font-size: 12px;
}

blockquote{
    border-left: 5px solid #efefef;
    margin: 2em 0;
    padding: .5em 0.5em 1.5em;
}
blockquote p{
    margin-bottom: 0;
}

code{
    background-color: #f7f7f7;
    border-radius: .35em;
    border: 2px solid #efefef;
    font-size: .9em;
    padding: 0.25em 0.65em;
    font-family: "courier new";
    color: #929292;
}
pre code{
    display: block;
}

ul, ol{
    margin: 0;
    padding: 0;
    padding-left: 1.1em;
}
li{
    padding-left: .5em;
}

.ul-alternate{
    list-style-type: none;
    padding-left: 0;
}
.ul-alternate li{
    border-bottom: 2px solid #ccc;
    padding-left: 0;
}
.ul-alternate li:last-child{
    border: o;
}
.ul-icons{
    list-style-type: none;
    padding-left: 0;
}
.ul-icons li{
    display: inline-block;
    font-size: 1.4em;
    color:rgba(255, 255, 255, 0.3);
    transition: all 0.2s;
    transition-timing-function: ease-in-out;
}
.ul-icons li:hover{
    color: #49bf9d;
    font-size: 1.6em;
}

input, label, textarea, select{
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}
input,textarea, select{
    background-color: #ccc;
    padding: 15px;
    border-radius: 5px;
    border: 3px solid #ccc;
    margin-bottom: 15px;
}
input[type="radio"],input[type="checkbox"]{
    width: auto;
}
textarea{
    height: 10em;
}

input:focus,textarea:focus{
    border: 3px solid #49bf9d;
    outline: none;
}
.main-header{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 35%;
    padding: 124px 54px 72px;
    box-sizing: border-box;
    background-image: url(../Imagens/overlay.png), url(../Imagens/chacra.jpg);
    background-position: left ;
    background-size: auto, cover;
    text-align: right;
}
.main-header-title{
    font-size: 20px;
    line-height: 1.5;
    color: rgba(255, 255, 255, .5);
    font-weight: normal;
}
.main-header-link{
    color: inherit;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
    border: none;
}
.main-header-link:hover{
    color: #49bf9d;
    letter-spacing: 1px;
}
.main-header-title strong{
    color: white;
    font-weight: normal;

}
.main-header-link img{
    border-radius: 50%;
}
.main-content{
    box-sizing: border-box;
    width: 65%;
    margin-left: 35%;
    padding: 124px 54px 72px;
}
.main-footer{
    position: fixed;
    bottom: 0;
    width: 35%;
    left: 0;
    padding: 0px 54px 72px 0;
    box-sizing: border-box;
    text-align: right;
}

.recent-works-card img{
    border-radius: 10px;
}
.gallery-img{
    border-radius: 5px;
}
.gallery-img img{
    width:100%;
    border-radius: 5px;
}
.gallery-thumb img{
    margin-bottom: 2%;
    display: inline-block;
    border-radius: 5px;
}

/*Grid*/
.copyright{
    display: inline-flex;
    list-style: none;
    font-size: 14px;
}

.col-2-3{
    width: 65%;
    float: left;
}

.col-1-3{
    width: 32%;
    float: left;
}
.col-1-3:nth-child(3n - 2){
    margin-right:2%;
}
.col-1-3:nth-child(3n){
    margin-left:2%;
}

.col-2-3 + .col-1-3, .col-1-3 + .col-2-3{
    margin-left: 2%;
}
.row{
    overflow: auto;
}
.col-2{
    width: 49%;
    float: left;
}
.col-2:first-child{
    margin-right: 1%;
}
.col-2:last-child{
    margin-left: 1%;
}

.button-default{
    background-color: #49bf9d;
    border: 2px solid #49bf9d;
    color: white;
    padding: .75em 1.5em;
    border-radius: 5px;
    font-size: 8px;
    display: inline-block;
    width: auto;
    transition: all .2s;
    cursor: pointer;
}
.button-default:hover{
    background-color: #5ddeb9;
    border-color: transparent;
}

.button-default-stroke{
    background-color: white;
    border-color: #efefef;
    color: inherit;
}
.button-default-stroke:hover{
    color: #49bf9d;
    border: #49bf9d;
    background: white;
}

.button-default-small{
    font-size: .65em;
}

.button-default-full{
    text-align: center;
    display: block;
}

.button-default-big{
    font-size: 1em;
}

.imagem-link{
    border: 0;


}

.table{
    width: 100%;
    margin: 0 0 2em 0;   
    border-collapse: collapse;
    text-align: left;
}

.table td{
    padding: .75em;
}
.table th{
    color:#ccc;
    padding: .75em;
}
.table tbody tr td{
    border-bottom: 1px solid #ccc;
}
.table tbody tr:first-child td{
    border-top: 2px solid #666;
}
.table tbody tr:last-child td{
    border-top: 2px solid #666;
}
.table tbody tr:nth-child(even) td{
    background-color:#eee;
}
.table-alternate tbody td, .table tbody tr:first-child td, .table-alternate tbody tr:last-child td{
    border:1px solid #ddd;
}

